<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
</head>
<body>

<form th:action="@{/alumnoBorrado}" th:object="${alumno}" method="post">
  <div class="errorblock" th:if="${#fields.hasErrors('*')}">
    <ul>
      <li th:each="err : ${#fields.errors('*')}"
          th:text="${err}">Input is incorrect</li>
    </ul>
  </div>
  <fieldset>
    <legend>ID del alumno a borrar</legend>
    <table>

      <tr>
        <td><label for="id">ID: </label></td>
        <td><input id="id" type="text" name="id" th:field="*{id}" required /></td>
      </tr>

      <tr>
        <td><button type="submit">Borrar Alumno</button></td>
      </tr>
    </table>
  </fieldset>
</form>
<p><a th:href="@{/alumnos}">Volver</a></p>

</body>
</html>