<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APARTADO PROFESORADO</title>
</head>
<body>

<div>
  <h1>APARTADO PROFESORADO</h1>
  <h2>¿QUÉ QUIERES HACER?</h2>
  <ul>
    <li><a th:href="@{/profesorado/listarProfesorado}">Listar Profesorado</a></li>
    <li><a th:href="@{/profesorado/nuevoProfesor}">Nuevo o Actualizar Profesorado</a></li>
    <li><a th:href="@{/profesorado/borrarProfesor}">Borrar Profesorado</a></li>

  </ul>
  <p><a th:href="@{/}">Volver</a></p>
</div>

</body>
</html>